{
    "tabWidth": 4,
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "singleQuote": false,
    "proseWrap": "always",
    "rangeEnd": 40
}
